<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Logs</title>
</head>
<body>

<h2>Live Logs</h2>

<div id="logBox" style="height:400px;overflow:auto;border:1px solid black;"></div>

<br>

<a href="/download_logs">
    <button>Download Logs</button>
</a>

<script>
function fetchLogs() {
    fetch('/get_logs')
        .then(res => res.json())
        .then(data => {
            const box = document.getElementById("logBox");
            box.innerHTML = data.join("<br>");
            box.scrollTop = box.scrollHeight;
        });
}

setInterval(fetchLogs, 1000);
</script>

</body>
</html>